html {
  background-color: #F1E6E0;
  margin: 20px;
}

.website-name {
  font-size: xx-large;
  text-align: center;
}

.navbar-container {
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.navbar-item {
  font-size: large;
  text-align: center;
  width: 200px;

  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  
  border-bottom: 2px solid black;
  padding-top: 5px;
  padding-bottom: 5px;

}

.gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.image-column {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
}


.image {
  flex: 0 1 auto;
  margin: 10px;
  height: auto;
  width: 400px;
}


.about{
  display: flex;
}

.about-text {
  font-size: large;
}

