html {
  background-color: #F1E6E0;
}

.website-name {
  font-size: xx-large;
  text-align: center;
}

.navbar-container {
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.navbar-item {
  font-size: large;
  text-align: center;
  width: 200px;

  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  
  border-bottom: 2px solid black;

}

a {
  color: inherit;
  text-decoration: none; 
}

.gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-column {
  flex: 0 1 350px;
  display: flex;
  flex-direction: column;
}

.image {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 5px;
}


